.app {
  background-color: var(--secondary-bg);
  border: 1px solid red;
  width: 500px;
  margin: 0 auto;
}

body {
  --primary-bg: hsl(42, 100%, 95.7%);
  --secondary-bg: hsl(60, 100%, 96%);

  background-color: var(--primary-bg);
}

.todo-form {
  margin-bottom: 20px;
}

.todo-input {
  margin-left: 40%;
  padding: 10px;
  margin-right: 10px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  margin: auto;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.todo-item.completed {
  text-decoration: line-through;
  color: #888;
}

.header {
  text-align: center;
  font-weight: lighter;
  font-size: 5em;
  color: whitesmoke;
}
