.app {
  background-color: var(--secondary-bg);
  border: 1px solid red;
  width: 500px;
  margin: 0 auto;
}

body {
  --primary-bg: hsl(42, 100%, 95.7%);
  --secondary-bg: hsl(60, 100%, 96%);

  background-color: var(--primary-bg);
}

.todo-form {
  margin-bottom: 20px;
}

.todo-input {
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.todo-list {
  /* border: 1px solid red; test/show where list is on page*/
  list-style: none;
  padding: 0;
}

/* .todo-text:hover {
  background-color: white;

  padding: 4px;
  cursor: pointer;
} */

.todo-item {
  margin: auto;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.todo-item.completed {
  text-decoration: line-through;
  color: #888;
}

.todo-trash {
  /* background-color: #dc3545; */
  /* color: #fff; */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.header {
  text-align: center;
  font-weight: lighter;
  font-size: 5em;
  color: whitesmoke;
}
